@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
// ViewBag.Title = "Home Page";
}

<div class="list-group">
    <span href="#" class="list-group-item list-group-item-info">
        <p class="list-group-item-heading">Navigation</p>
    </span>
    @{
        foreach (var entity in Model.Entities)
        {
            <a href="#" class="list-group-item">@entity.Name</a>
        }
    }
</div>