@model Debby.Admin.ViewModels.PropertyViewModel


<div class="col-lg-2">
    <p class="text-right">@Model.Property.Name</p>
</div>
<div class="col-lg-10">
    <input type="text" value="@Model.Value" />
</div>
